#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
}

input,
textarea {
  border-radius: 8px; /* Rounded corners */
  border: 3px solid #ccc; /* Default border */
  padding: 0.5em;
  outline: none; /* Remove default outline */
  transition: border-color 0.3s ease; /* Smooth transition for border color */
}

input:focus,
textarea:focus {
  border-color: #1f509a; /* Change border color when focused */
}

button:hover {
  border: 3px solid #d4ebf8; /* Change border color when button is clicked */
}

button {
  border: 3px solid transparent; /* Change border color when button is clicked */
}

label {
  margin: 1em 1em 0 0.5em;
}